a{
    color: white;
    text-decoration: none;
}
.crypt_navbar{
    display: flex;
    justify-content: space-between;
}
.crypt_navbar-logo{
    display: flex;
    align-items: center;
    margin-left: 8rem;
    gap: 0.2rem;
}

.crypt_navbar-logo img{
    height: 40px;
    width: 40px;
}

.crypt_navbar-container{
    display: flex;
    align-items: center;
    margin-right: 8rem;
    gap: 1rem;
}

.crypt_navbar-container a {
    font-size: 20px;
}
.crypt_navbar-container button{
    font-size: 15px;
    color: white;
    font-weight: 300;
    background-color: rgba(219, 85, 1, 0.786);
    border: none;
    border-radius: 3px;
}